h3,
h4 {
  margin: 10px 0;
}

ul {
  margin-left: 30px;
  margin-top: 10px;
}

ul li:not(ul.compact li) {
  margin-bottom: 10px;
}

.block {
  margin-bottom: 30px;
}

.redHighlighted {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 0, 0, 0.15);
}

.blockTitle {
  display: flex;
  align-items: center;
}

.blockTitle .iconLink {
  cursor: pointer;
  display: none;
  margin-left: 5px;
  border-radius: 50%;
}

.blockTitle .iconLink:hover svg {
  fill: var(--colorPrimary);
}

.blockTitle .iconLink:active svg {
  fill: var(--colorPrimaryDark);
}

.blockTitle .iconLink,
.blockTitle .iconLink svg {
  height: 22px;
  width: 22px;
}

.blockTitle:hover .iconLink {
  display: block;
}